body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0;
}

.container {
  max-width: 700px;
  margin: auto;
  padding: 20px;
}

header {
  background: #242424;
  color: white;
  padding: 15px;
  text-align: center;
}

.task {
  padding: 12px;
  background: white;
  border-radius: 6px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
