body {
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.hero-section {
   
    position: relative;
    overflow: hidden;
   
    background-color: #ffffff;
}
.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    opacity: 0.9; 
    
    background: 
        radial-gradient(circle at 100% 0%, rgba(165, 180, 252, 0.2) 0%, rgba(224, 231, 255, 0) 30%),
        radial-gradient(circle at 0% 100%, rgba(216, 180, 254, 0.2) 0%, rgba(243, 232, 255, 0) 30%);
}

.hero-section > div {
    position: relative; 
    z-index: 1; 
}

.hero-section h2, .hero-section p {
    color: #293749; 
}

.event-card-ticket-divider {
    border-top: 2px dashed #e5e7eb;
    margin: 1rem 0;
}